/* APP CSS */

html,body{
    height: 100%;
    width: 100%;
   
    overflow-x: hidden;
}

#root{
    height: 100%;
    width: 100%;
 
}
.App{
    height: 100%;
    width: 100%;
}

.Home{
    height: 100%;
    width: 100%;
    background-size: 'cover';
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.login-section{
    height: 50%;
    width: 25%;
    
}

.editClientBalance{
    height: 100%;
}

.spacing{
    margin-right: 5px;
}